<br><br><br>
<div class="card card-body bg-light">
    <p>Original: <%= @shortcode.original_url %></p>
    <p>Shortcode: <%= @shortcode.short_url %></p>
    <p>Popularity: <%= @shortcode.popularity %></p>
</div><br>